
.articulo1 .articulo1__Titulo {
  color: yellow; }

.articulo1 .articulo1__Parrafo {
  color: white; }

.articulo1 .articulo1__Bot {
  display: inline-block;
  background-color: yellow;
  padding: 5px;
  color: black;
  margin: 15px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.articulo1 .articulo1__Parrafo--grande {
  font-size: xx-large; }

.articulo2 .articulo2__Titulo {
  color: white; }

.articulo2 .articulo2__Parrafo {
  color: yellow; }

.articulo2 .articulo2__Bot {
  display: inline-block;
  background-color: yellow;
  padding: 5px;
  color: black;
  margin: 15px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.articulo2 .articulo2__Parrafo--grande {
  font-size: xx-large; }

.social--facebook {
  display: block;
  background-color: red;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center; }

.social--instagram {
  display: block;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center; }

.social--twitter {
  display: block;
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center; }


